.navbar1 {
  width: 82%;
  /* background-color: rgba(0, 0, 0, 0.08); */
  background-color: #040010;
  /* backdrop-filter: blur(10px); */
  border-color: rgba(176, 139, 255, 0.6);
  border-width: 2px;
  border-radius: 10px;
  z-index: 2;
  margin-left: 130px;
  top: 10px;
  /* overflow: hidden; */
  position: fixed;
  left: 0;
  display: flex;
  padding: 10px 10px;
  /* align-items: flex-start; */
  justify-content: space-between;
  color: white;
}
.imgbtn {
  width: 12rem;
}
.nav2 {
  display: flex;
  list-style: none;
}
.mid {
  display: flex;
  list-style: none;
}
.nav-head-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.logo {
  margin: 0px 0px 0px 0px;
  width: 166px;
  height: 20px;
  color: white;
  z-index: 2;
  text-align: center;
  align-self: center;
}



/* .navbar1 button {
  font-size: 20px;
  margin: 0px 50px 0px 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  z-index: 2;
} */

.menubtn{
  display: none;
}
.menulistUl{
  list-style-type: none;
  padding: 20px;
 
}
.menuItem{
  justify-content: center;
  align-items: center;
  background-color: #040010;
  border-radius: 10px;    
  margin-top: 20px;
  height: 60px;
  font-size: 16px;
}
.menuItem:hover{
  background-color: #242628;
}

@media (max-width: 767px) {
  .navbar1 {
    width: 100%;
    border:none;
    margin-left:0px;
    top: 0px;
    padding: 15px 20px 15px 20px
   }
   .mid{
    display: none;
   }
   .nav2{
    display: none;
   }
   .logo {
    margin: 0px;
    width: 126px;
    height: 20px;
   }
   .menubtn{
    display:flex;
  }
 
  .imgbtn{
    margin-top: 20px;
    width: 224px;
  }
  
}

/* @media (max-width: 998px) {
  .navbar1 h1 {
    font-size: 20px;
  }

  .navbar1 button {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .navbar1 h1 {
    font-size: 15px;
  }

  .navbar1 button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 8px;
  }
}

 @media (max-width:821px) {
  .navbar1{
    display: none;
  }
 }

  @media (max-width: 400px) {
    .navbar1{
      display: none;
     width: 100%;
     margin-left: 0vw;
    } 
 }
  @media (max-width: 1200px) {
    .navbar1{
    
     width: 100%;
     margin-left: 0vw;
    } 
 }
 */
